<div>
  <div class="jumbotron bg-white">
    <h1 class="display-4">
      <i class="fa fa-info-circle" aria-hidden="true"></i> Overview
    </h1>
    <hr class="my-4" />
    <p class="text-font-size">
      Biological signaling pathways, or biological networks in general form the
      basis of many bioinformatics analyzes. In order to be able to formally
      capture the complex relationships in these networks, various standards
      have been established, including the JSON-based Cytoscape Exchange (<a
        href="https://home.ndexbio.org/data-model/"
        target="_blank"
        >CX</a
      >) format. Even if JSON is the standard format for data exchange in web
      applications, it is often difficult to ensure that the schema, structure
      and relationships are correctly implemented. The aim of this work is to
      model the data structure and dependencies in Typescript, to test them on
      official networks and to give a statistical overview of the elements used
      therein.
    </p>
  </div>

  <div class="jumbotron bg-white">
    <h1 class="display-4">
      <i class="fa fa-question-circle" aria-hidden="true"></i> Why validating CX
      networks?
    </h1>
    <hr class="my-4" />
    <p class="text-font-size">
      CX is a network exchange format, designed as a flexible structure for
      transmission of networks. It is designed for flexibility, modularity, and
      extensibility. CX is "aspect-oriented", meaning that different types of
      information about network elements are separated into types of modules
      ("aspects"). Each aspect type specifies a schema for the information that
      it contains, typically a set of elements where the elements for that
      aspect type also have a defined schema.
    </p>
  </div>

  <div class="jumbotron bg-white">
    <h1 class="display-4">
      <i class="fa fa-users" aria-hidden="true"></i> Who we are?
    </h1>
    <hr class="my-4" />
    <p class="text-font-size">
      <span
        ><i class="fa fa-graduation-cap" aria-hidden="true"></i> This project
        was developed as part of his master thesis by <b>Hassan Assaad</b> at
        the University of Augsburg</span
      >
      <span
        ><i class="fa fa-envelope" aria-hidden="true"></i> Please contact
        <b>Florian Auer</b> for feature requests and inquiries</span
      >
    </p>
  </div>
</div>
