<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Cx Validator</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/doc']" routerLinkActive="active">Documentation</a>
      <a class="nav-item nav-link" [routerLink]="['/editor']" routerLinkActive="active">Editor</a>
      <a class="nav-item nav-link" [routerLink]="['/search']" routerLinkActive="active">Search on NDEx</a>
      <a class="nav-item nav-link" [routerLink]="['/statistics']" routerLinkActive="active">Statistics</a>
    </div>
  </div>
</nav>
