.main {
  display: flex;
  flex-direction: row;

  .item-aligment {
    height: 100vh;
  }

  .side-bar {
    width: 20%;
  }

  .code-editor {
    width: 52%;
  }

  .error-list {
    width: 27%;
  }
}
